.counterContainer{

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;

}

.buttons{
  margin: 5px;
  font-weight: bold;
  color:white;
  padding:0.5rem;
  border-radius: 1rem;

}